.home__layout{
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
    color: white;
    padding: 0 2vw;
}

h1{
    margin-bottom: 0;
    color: #016CB9;
    font-weight: 100;
}

h2{
    margin: 1vw 0;
    color: #0099CC;
}

.welcome__user{
    background-color: white;
    width: 100%;
    padding: 0 2vw;
}

.info__card h2{
    color: black;
    margin: 0;
}

.info__card{
    padding: 1vw;
    background-color: transparent;
}

.current__info{
    background-color: #fff6d1;
    margin: 0 5vw;
    width: auto;
    padding: 1vw;
    line-height: 1.75em;
}

.cases__list{
    padding: 0 1vw;
    margin-bottom: 0;
    font-size: 1em;
    width: auto;
}

