.layout{
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    color: white;
    padding: 0 2vw;
}