.layout{
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    color: white;
    padding: 0 2vw;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2{
    color: black;
    width: auto;
    font-weight: 100;
    margin-top: 0;
}

.search__box{
    width: 90%;
    background-color: #fff8db;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.search__box input{
    width: auto;
    font-size: 1.5em;
    padding: 0.5em 0.75em;
    border: none;
    background-color: #d9d9d980;
    margin-bottom: 2em;
    transition: all 0.1s;
    outline: transparent solid 2px;
}

.search__box input:hover{
    outline: #ffd325 solid 2px;
    border-radius: 2px;
}

.search__box input:focus{
    outline: black 2px solid;
}

.search__box button{
    color: black;
    font-weight: bold;
    background-color: #0099CC;
    width: auto;
    align-self: flex-end;
    border: none;
    font-size: 1.5em;
    width: 200px;
    height: 2em;
    transition: all 0.2s;
}

.search__box button:hover{
    color: white;
    font-weight: 100;
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 5px;
}